/*
body{
    background-color: green;
}
p{
    background-color: #ff0000; 
}
div{
    background-color:hsl(60,);
}*/

/*
.caja1{
    width: 150px;
    height: 150px;
    background-color: rgb(12,12,12);
}
.caja2{
    width: 150px;
    height: 150px;
    background-color: #842522;
}
.caja3{
    width: 150px;
    height: 150px;
    background-color: hsl(132, 50%, 47%);
}
*/


/*
*{
    color:gray;
}
*/


/*
div{
    color: green;
}
*/


.caja1 {
    color: red;
    width: 150px;
    height: 150px;
    background-color: rgb(12,12,12);
}
.caja2{
    width: 150px;
    height: 150px;
    background-color: #842522;
}
.caja3{
    width: 150px;
    height: 150px;
    background-color: hsl(132, 50%, 47%);
}
#foo{
    color: orange;
}

a[title]{
    color: green;
}

button:hover{
    background-color: green;
}

input:disabled{
    border:2px solid orange;
}

/*PARTE 2....CLASE CONSECUENTE*/

p::first-letter{
    color:red
}

/*
.foo, .bar{
    color:green
}

.abuelo div{
    color:red;
}
*/


/*
.abuelo>div{
    color:orange
}

.hijo1{
    color:yellow
}

*/

/*el inferior es para los hermanos div del hijo 1*/
.hijo1~div{
    color:blueviolet
}

.foo{
    color:green
}
#bar{
    color:#842522
}

#outler #inner a{
    background-color: blue;
}

#outler a{
    background-color: red;
}





